@import "./reset.css";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

:root {
  /* color */
  --main-color: #7b57df;
  --white-color: #ffffff;
  --green-color: #5dc783;
  --yello-color: #f2af4c;
  --red-color: #eb5769;
  --bg-color: #f8f8fb;
  --font1-color: #1b2149;
  --font2-color: #77879c;
  --gray-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard";
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

button {
  font-family: "Pretendard";
  cursor: pointer;
}
